<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ionut Ciobanu | CS Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,900|Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


</head>

<body>

    <header>
        <nav class="navbar">
            <div class="nav-wrapper">
                <div class="list-wrapper">
                        <!-- https://fontawesome.com/license/free -->
                        <a href class="search"></img>

                    <ul class="list">
                        <li class="l-item">
                            <a href="#" class="link">PROJECTS</a>
                        </li>
                        <li class="l-item">
                            <a href="#" class="link">CV</a>
                        </li>

                        <li class=" middle-logo">
                            <a href="#" class=" link-logo">I.Cb</a>
                        </li>

                        <li class="l-item">
                            <a href="#" class="link">ABOUT</a>
                        </li>
                        <li class="l-item">
                            <a href="#" class="link">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="main-section">
        <div class="main-wrapper">
            <h3 class="prj-text">School Projects</h3>
            <h3 class="prj-text">/</h3>
            <h3 class="prj-text">Home Projects</h3>
        </div>
    </section>

    <!-- Scripts -->
    <script src="js/main.js"></script>
    <!-- End Scripts -->
</body>

</html>